[Unit]
Description=An example Spring Boot application
After=syslog.target

[Service]
User=ec2-user
ExecStart=java -jar /home/ec2-user/awsgentleman-ec2-example.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
