[Unit]
Description=An example Spring Boot application
After=syslog.target

[Service]
Environment=RDS_HOSTNAME=
Environment=RDS_PORT=3306
Environment=RDS_DB_NAME=journaler_api
Environment=RDS_USERNAME=root
Environment=RDS_PASSWORD=
User=ec2-user
ExecStart=java -jar /home/ec2-user/service-ec2-example.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
